#Variables de entorno de user-service
SERVER_PORT_HTTP=":42442"
SERVER_PORT_GRPC=":5534"
DB_URL="mongodb://user:password@localhost:27017/"
#DB_URL="mongodb://user:password@mywalletdbmongousers:27017/"

#GRPC CONFIG
# Puerto para el servidor gRPC
GRPC_PORT=50052


#Variables de entorno de transaction-service
PORTSERVICE_TRANSACTION=3000
DATABASE_URL_POSTGRESQL_TRANSACTIONS="psql://user:password@localhost:5432/mydb?schema=public"

#Variables de entorno de JWT
SECRET_KEY= "sdsd"
TIME_TOKEN="60"


# Credenciales de MongoDB
MONGO_INITDB_ROOT_PASSWORD ="222"
MONGO_INITDB_ROOT_USERNAME="user"
MONGO_INITDB_DATABASE="dbname"


# Credenciales PostgreSQL
POSTGRES_USER="user"
POSTGRES_PASSWORD="222"
POSTGRES_DB="dbname"

#Gateway Config
PORT_GATEWAY=8080
ACCOUNT_SERVICE_ADDRESS="localhost:50052"