#Variables de entorno de user-service
SERVER_PORT_HTTP=":8080"
DB_URL="mongodb://user:password@localhost:27017/"
#DB_URL="mongodb://user:password@namecontainer:27017/"
SECRET_KEY= "dasdasdas"
TIME_TOKEN="60"

# Credenciales de MongoDB
MONGO_INITDB_ROOT_PASSWORD="33333"
MONGO_INITDB_ROOT_USERNAME="user"
MONGO_INITDB_DATABASE="mys"